$golden_ratio: 1.61803;


.heatmap-admin-view {
  // display: grid;
  // grid-gap: 1em;
  // grid-template-columns: 1fr 2fr;
  // grid-template-areas: 
  //   "content-info         heat-view"
  //   "page-select          heat-view"
  //   "aggregate-sessions   heat-view"
  // ;
  // // grid-template-columns: 1fr (1fr / $golden_ratio);
  // align-items: start;

  > * {
    overflow: hidden;
  }


  // Float hack grid

  .content-left,
  .content-right {
    display: block;
    float: left;
    width: 100%;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .content-left {
    max-width: calc((1 - 1 / #{$golden_ratio}) * 100%);
    padding-right: 1em;
  }
  .content-right {

    max-width: calc(1 / #{$golden_ratio} * 100%);
  }





  // Component Styles


  .content-info-container,
  .page-select-container {
    margin-bottom: 1.5em;    
  }



  .page-select-container {
    select#page-select {
      width: 100%;
      height: 2em;
      line-height: 2em;
    }
  }



  .sessions-table-container,
  .aggregate-sessions-container {
    grid-area: aggregate-sessions;

    table#sessions-table,
    table#aggregate-sessions-table {
      width: 100%;

      tr {
        &:not(:first-child):not(:last-child) {
          border-bottom: solid lightgray 1px;
        }
      }

      th,
      td {
        padding: 0.75em;
        vertical-align: middle;
      }
  
      th {
        border-bottom: solid gray 1px;
      }
    }

  }


  .heat-view-container {
    grid-area: heat-view;

    iframe#heat-view {
      width: 100%;
      min-height: 100vh; // TODO: height needs to be calculated in javascript since it is affected by the transform scale
      // height: 100%;
      border: solid 1px red;
      transform-origin: 0 0;
    }
  }


}
