/* Forces styles necessary to make heatmapping work */
body {
  position: relative;
}

#heat-wrap {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0; /* hide the heat data on pubic view */
}

#heatmap-container {
  display: block;
  width: 100%;
  height: 100%;
}
