.heatmap-admin-view > * {
  overflow: hidden; }
.heatmap-admin-view .content-left,
.heatmap-admin-view .content-right {
  display: block;
  float: left;
  width: 100%; }
  .heatmap-admin-view .content-left::after,
  .heatmap-admin-view .content-right::after {
    content: "";
    display: table;
    clear: both; }
.heatmap-admin-view .content-left {
  max-width: calc((1 - 1 / 1.61803) * 100%);
  padding-right: 1em; }
.heatmap-admin-view .content-right {
  max-width: calc(1 / 1.61803 * 100%); }
.heatmap-admin-view .content-info-container,
.heatmap-admin-view .page-select-container {
  margin-bottom: 1.5em; }
.heatmap-admin-view .page-select-container select#page-select {
  width: 100%;
  height: 2em;
  line-height: 2em; }
.heatmap-admin-view .sessions-table-container,
.heatmap-admin-view .aggregate-sessions-container {
  grid-area: aggregate-sessions; }
  .heatmap-admin-view .sessions-table-container table#sessions-table,
  .heatmap-admin-view .sessions-table-container table#aggregate-sessions-table,
  .heatmap-admin-view .aggregate-sessions-container table#sessions-table,
  .heatmap-admin-view .aggregate-sessions-container table#aggregate-sessions-table {
    width: 100%; }
    .heatmap-admin-view .sessions-table-container table#sessions-table tr:not(:first-child):not(:last-child),
    .heatmap-admin-view .sessions-table-container table#aggregate-sessions-table tr:not(:first-child):not(:last-child),
    .heatmap-admin-view .aggregate-sessions-container table#sessions-table tr:not(:first-child):not(:last-child),
    .heatmap-admin-view .aggregate-sessions-container table#aggregate-sessions-table tr:not(:first-child):not(:last-child) {
      border-bottom: solid lightgray 1px; }
    .heatmap-admin-view .sessions-table-container table#sessions-table th,
    .heatmap-admin-view .sessions-table-container table#sessions-table td,
    .heatmap-admin-view .sessions-table-container table#aggregate-sessions-table th,
    .heatmap-admin-view .sessions-table-container table#aggregate-sessions-table td,
    .heatmap-admin-view .aggregate-sessions-container table#sessions-table th,
    .heatmap-admin-view .aggregate-sessions-container table#sessions-table td,
    .heatmap-admin-view .aggregate-sessions-container table#aggregate-sessions-table th,
    .heatmap-admin-view .aggregate-sessions-container table#aggregate-sessions-table td {
      padding: 0.75em;
      vertical-align: middle; }
    .heatmap-admin-view .sessions-table-container table#sessions-table th,
    .heatmap-admin-view .sessions-table-container table#aggregate-sessions-table th,
    .heatmap-admin-view .aggregate-sessions-container table#sessions-table th,
    .heatmap-admin-view .aggregate-sessions-container table#aggregate-sessions-table th {
      border-bottom: solid gray 1px; }
.heatmap-admin-view .heat-view-container {
  grid-area: heat-view; }
  .heatmap-admin-view .heat-view-container iframe#heat-view {
    width: 100%;
    min-height: 100vh;
    border: solid 1px red;
    transform-origin: 0 0; }

/*# sourceMappingURL=heatmap-admin.css.map */
