{% extends '@bolt/_base/_page-nav.twig' %}

{%- block page_title %}
  Heatmap Admin
{% endblock -%}

{% block page_main %}
  <div class="wrap heatmap-admin-view">
    <!-- admin page styles -->
    <link rel="stylesheet" href="/extensions/vendor/wake-creative/wake-heatmap/css/heatmap-admin.css">
    
    <!-- main -->

    <div class="content-left">

      <div class="content-info-container">
        <div id="content-info">
          <p>For best viewing experience please use a modern browser such as Firefox or Chrome.</p>
  
          <p><strong>Note:</strong> Loading aggregate data is a syncronous process that may impede the performance of your browser for a short time. If your browser notifies you of a script taking a long time to execute on this page, please allow it to wait.</p>
        </div>
      </div>
  
      <div class="page-select-container">
        <!-- <label for="page-select">Page Select</label> -->
        <select name="page-select" id="page-select">
          <option disabled selected>Page Select</option>
          <!-- TODO: fill with heat map page urls -->
          {% for page in sessions.pages %}
            <option value="{{ page }}">{{ page }}</option>
          {% endfor %}
        </select>
      </div>
  
      <div class="aggregate-sessions-container">
        <table id="aggregate-sessions-table">
  
          <tr>
            <th>Device Width</th>
            <th>Sessions CT.</th>
            <th>Users PCT.</th>
            <th></th>
          </tr>
  
          {#% for aggregate in sessions.aggregates %}
            <tr>
              <td>{{ aggregate.width }}</td>
              <td>{{ aggregate.count }}</td>
              <td>{{ ((aggregate.count / sessions.count) * 100)|number_format(2) }}%</td>
              <td><button>Load Data</button></td>
            </tr>
          {% endfor %#}
  
        </table>
      </div>

    </div>

    <div class="content-right">

      <div class="heat-view-container">
          <iframe id="heat-view"></iframe>
      </div>

    </div>

    <!-- Scripts -->
    <script src="/extensions/vendor/wake-creative/wake-heatmap/js/heatmap_controller.js"></script>
  </div>
{% endblock %}
